*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
video{
     display: flex;
            position: absolute;
            width: 100%;
            height:100vh;
            object-fit: cover;
            z-index: -1;
}
.para h1{
      position: absolute;
        width: 0;
        height:0;
        top:300px;
        left:500px;
        text-align: center;
        justify-content: center;
        font-size: 50px;
        color:rgb(248, 242, 242);
        font-family: "poppins ",sans-serif;
        
}
.para button{
    position:absolute;
    width:200px;
    height:50px;
    font-size: 20px;
    border-radius: 20px;
    color:rgb(246, 240, 240);
    top:400px;
    left:550px;
    font-family: sans-serif;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size:25px;
    background: rgba(0, 0, 0,1);
}
