*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: white;
}
svg{
    width:60px;
    margin:20px 0px 0px 14px;
}
.nav{
    width:1262px;
    height:100px;
    background-color: rgb(254, 252, 252);
    display: flex;
    justify-content: space-between;
    
}
.navv{
     gap:20px;
}
.navv ul li a{
    text-decoration: none;
    color:black;
    font-family:sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.nav ul li a:hover{
    color:green;
}
.navv ul{
    display: flex;
    gap:50px;
    font-family: sans-serif;
    list-style: none;
    margin:40px 450px 0px 0px;
    font-size: 20px;
}
.location h3{
      margin:40px 0px 0px 0px;
      font-family: sans-serif;
      cursor: pointer;
}
.location:hover{
    color:green;
}
.sign ,.join{
    width:100px;
    height:30px;
    border-radius: 20px;
    margin:40px 20px 0px 0px;
     font-family: sans-serif;
     font-size: 17px;
     cursor: pointer;
}
.join{
    background-color: black;
    color:white;
   
}
.join:hover{
    background-color: #444;
}
.sign:hover{
    background-color: #44444460;
}
.topmid{
     width:1262px;
    height:120px;
    background-color: rgba(10, 54, 6, 0.828);
    display: flex;
}
.topmid h2{
    text-align: center;
    position: absolute;
    top:140px;
    left:400px;
    font-family: sans-serif;
}
.topmid button{
    width:150px;
    height:37px;
    border-radius: 20px;
    margin:40px 0px 0px 700px;
    background: transparent;
    border-color: white;
    color:white;
    font-family:sans-serif;
    font-size: 20px;
    border-width: 2px;
    border-style:solid;
    cursor: pointer;
}
.topmid button:hover{
    background-color: #00754A;
}
.menu{
   width:1262px;
   height: 400px;
   background-color: white;
   margin: 40px 0px 0px 0px;
   display: flex;
}
.menu img{
    width:620px;
    height:360px;
}
.juicetext{
    width:50%;
    height: 360px;
    text-align: center;
    background-color: #9ea76597;
}
.juicetext p{
    height:200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    width:400px;
    margin:10px 0px 0px 100px;
  font-weight: 300px;
  color:rgb(7, 70, 7);
  line-height: 40px;
}
.juicetext h1{
    color:#304c27;
    font-family: sans-serif;
    margin:30px 0px 0px 0px;
    font-size: 25px;
}
.juicetext button{
    width:250px;
    height: 40px;
    border-radius: 20px;
    font-size: 17px;
    margin: 0px;
    color:white;
    background-color: #00754A;
    cursor: pointer;
}
.juicetext button:hover{
    filter: blur(0.3px);
}
.coffee img{
      width:620px;
    height:360px;
    margin:0px 0px 0px 0px;
}
.coffeetext{
     width:620px;
    height: 360px;
    text-align: center;
    background-color: #d5d7c98f;
    line-height: 33px;
}
.coffeetext p{
     height:200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    width:450px;
    margin:10px 0px 0px 90px;
  font-weight: 300px;
  color:rgb(7, 70, 7);
  font-size: 19px;
}
.coffeetext h1{
     color:#304c27;
    font-family: sans-serif;
    margin:30px 0px 0px 0px;
    font-size: 25px;
}
.coffeetext button{
      width:250px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    margin: 0px;
     color:#304c27;
    background-color:transparent;
    cursor: pointer;
    font-weight: 1000px;
    border-width: 1px;
}
.coffeetext button:hover{
    background-color: #a7bca0;
}
.caffeemenu{
    width:1262px;
   height: 400px;
   background-color: white;
   margin: 0px 0px 0px 0px;
   display: flex;
}
.menue{
   width:1262px;
   height: 400px;
   background-color: white;
   margin: 10px 0px 0px 0px;
   display: flex;
}
.menue img{
    width:620px;
    height:360px;
}
#joinnow{
    width:100px;
    height:35px;
}
#ordernow{
    width:130px;
    height:35px;
    color:white;
    border-color: white;
    border-width: 1.5px;
}
#ordernow:hover{
    background-color: #1a4a09;
}
#greenn{
    color:white;
    margin:30px 0px 0px 60px;
}
#green{
    color:white;

}
#bg{
    background-color: #00754A;
}
#coffee{
    width:620px;
    height:360px;
}
#h1{
    font-size: 30px;
}
#p{
    font-size: 20px;
    margin:40px 0px 0px 90px;
    text-align: center;
    line-height: 40px;
}
#orderno{
    width:130px;
    height:35px;
}
.btn{
    text-align: center;
}
.lower{
    width:1262px;
    height:250px;
    background-color: #00754A;
}
.paragraph{
    width: 467px;
    color:white;
    font-size: 13px;
    position: absolute;
    top:2400px;
    left:70px;
    text-align: center;
    word-spacing:1px ;
    font-family: sans-serif;
}
.lowcenter{
    position: relative;
    top:90px;
    left:900px;
    color:white;
    font-family: "poppins",sans-serif;
    font-size:17px ;
    
}
.america img{
    width:70px;
    height:50px;
    position:relative;
    left:1150px;
    top:50px
}
.ame img{
     width:70px;
    height:50px;
    position:relative;
    left:750px;
    top:0px;
}
.lowfooter{
    width:1262px;
    height:440px;
    background-color: white;
    margin: 80px 0px 0px 0px;
    text-align: center;
}
.firstpara{
    width:800px;
    height: 440px;
    background-color: white;
    margin:0px 0px 0px 200px;
    line-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerlow{
    width:1262px;
    height:450px;
    background-color: white;
    display:flex;
    gap:0px;
    margin:80px 0px 0px 0px;
    border:8px rgba(221, 206, 206, 0.47);
    box-shadow: 0 0 3px  ;
}
.footertext{
    width:250px;
    height:450px;
    background-color: white;
    margin-top: 15px;
}
.footertext h2{
    font-size: 15px;
    margin:0px 0px 0px 20px;
    color:#444444b4;
    font-family: sans-serif;
}
.footertext h1{
    margin:0px 0px 0px 20px;
    font-size: 22px;
}
.loowerend{
    width:1262px;
    height:500px;
    background-color: white;
    box-shadow: 0 0 3px ;
}
.downfooter{
    width:460px;
    height:500px;
    background-color: white;
    margin-top: 30px;
}
.downfooterimg svg{
     width:40px;
     height: 30px;
}
.svg{
    width: 15px;
    height: 30px;
    background-color:#444 ;
}
.footerlink a{
    font-size: 18px;
    text-decoration: none;
    margin: 0px 0px 0px 10px;
    color:rgba(0, 0, 0, 0.738);
}
.footerlink a:hover{
    text-decoration: underline;
}
footer{
    color:#444444b3;
}
.navimg img{
     width:20px;
     position:relative;
     top:40px;
     left:-400px;
}
.amee img{
    position: relative;
    width: 600px;
    left:650px;
}